<!doctype html>
<html>
  <head>
    <title>Superman Newsfeed</title>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
    <meta charset="utf-8"/>

  </head>
  <body>
    <header>
      <!--Site Name-->
      SuperChatter
      <!--MyMarist Portal-->
      <div id ="back">click here to go back</div>
      <div id="portal_button">
        <img id="crest" src="images/crest.png"><span>Superman</span>
      </div>
    </header>
    <main> 
      
      <div id="newsfeed">


        <div class="row">
          <img class="feedImage" src="images/bam!.png">
          <img class="feedImage" src="images/look up.png">
          </div>
          <div class = "row links row">
            <a class = "feedLink" href="https://www.youtube.com/watch?v=aLqeqn0IA0Q"><u>Extended Interview</u></a>
            <a class = "feedLink" href="https://youtu.be/OfpXgjP4AOs?si=EcD49066UpI40WiH"><u>Imax Trailer</u></a>
            
          </div>
          <div class="row">
          <img class="feedImage" src="images/cornswet.png">
          </div>
          <div class = "row links row">
            <a class = "feedLink" href="https://www.superman.com"><u>Official Movie Site</u></a>
            
          </div>
        </div>

<!--     </div>

      <div>
        <img id ="img"src="images/bam!.png">
        <a href="https://www.youtube.com/watch?v=aLqeqn0IA0Q"><u>Extended Interview</u></a>
        <p>Find out what influenced David Corenswet as he donned the cape!</p>
      </div>
      <div>
        <img id ="img" src="images/look up.png">
        <a href="https://youtu.be/OfpXgjP4AOs?si=EcD49066UpI40WiH"><u>Superman Imax Trailer</u></a>
        <p>Go watch the trailer!</p>

      </div>
      <div>
        <img id="img" src="images/cornswet.png">
        <a href="https://www.superman.com"><u>Official Movie Site</u></a>
        <p>Go buy tickets now!</p>
      </div> -->
      


    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2025: Action Comics est. 1938</p>
    </footer>

    <script src = "/js/feed.js"></script>
    <script src = "/js/global.js"></script>

  </body>
</html>
